body {
  max-width: 960px;
  max-height: 960px;
  margin-left: auto;
  margin-right: auto;
}

div {
  border-radius: 5px;
  margin: 0 2px;
}

h4 {
  border-radius: 5px;
}

.label {
  float: left;
  padding-right: 5px;
}

.subtitle {
  margin-top: 10px;
  margin-bottom: 0;
}

#title_bar {
  text-align: center;
}

.title {
  text-align: center;
  margin-bottom: 0;
}

.motivate {
  line-height: 36px;
  text-align: center;
  margin-bottom: 20px;
}

#motivate_workers {
  padding-top: 2px;
}

.ui-progressbar {
  position: relative;
  height: 18px;
}

.progress-label {
  position: absolute;
  font-size: 15px;
  display: block;
  width: 100%;
  text-align: center;
  line-height: 18px;
  color: #999;
}

.store button {
  width: 48%;
  font-size: 12px;
  margin-bottom: 2px;
}